### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# Review the first 5 rows of the data (because we can!)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Display the total number of players
total_number_players = len(purchase_data_df["SN"].unique())

# Check our math
# total_number_players

# Put the total number of players into a summary table and put them in a column named 'Total Players'
summary_total_number_players = pd.DataFrame({"Total Players": [total_number_players]})

# Print the summary table 
summary_total_number_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate for number of unique items
num_unique_items = len(purchase_data_df["Item ID"].unique())
#print(num_unique_items)

# Calculate the average purchase price
avg_purchase_price = purchase_data_df["Price"].mean()
#print(avg_purchase_price)

# Calculate the total number of purchases
total_num_purchases = len(purchase_data_df["Purchase ID"])
#print(total_num_purchases)

# Calculate the total revenue
total_revenue = purchase_data_df["Price"].sum()
#print(total_revenue)


# Create summary table of all calculations
summary_of_calculations = pd.DataFrame(
    {"Number of Unique Items": [num_unique_items],
    "Average Purchase Price": [avg_purchase_price],
    "Total Number of Purchases": [total_num_purchases],
    "Total Revenue": [total_revenue]}
)

summary_of_calculations["Average Purchase Price"] = summary_of_calculations["Average Purchase Price"].map("${:.2f}".format)
summary_of_calculations["Total Revenue"] = summary_of_calculations["Total Revenue"].map("${:.2f}".format)

# Print the summary table
summary_of_calculations

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Need to clean the data to remove duplicate SNs in order to get an accurate gender count
clean_data = purchase_data_df.drop_duplicates(['SN'])

# Confirm number of rows matches number of players
#clean_data


# Get the number of players per gender
gender_counts = clean_data["Gender"].value_counts()
gender_counts

# Create new dataframe of gender counts
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df.columns = ['Total Count']
gender_counts_df

# Create new dataframe of percentage of gender of total players
percentage = gender_counts / total_number_players
percentage_amount = pd.DataFrame(percentage)
percentage_amount.columns = ["Percentage of Players"]
percentage_amount

# Concatenate both dataframes
merged_data = pd.concat([gender_counts_df, percentage_amount], axis=1, join='inner')

# Format the Percentage of Players column to be 2 decimal places and to show a percent sign
merged_data["Percentage of Players"] = merged_data["Percentage of Players"].map("{:,.2%}".format)

# Print new summary table
merged_data

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
gender_df = pd.DataFrame(clean_data)
gender_df = clean_data.groupby(clean_data['Gender']).count()
gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [5]:
# Create bins for ages
age_bin = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Create labels for bins
age_bin_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Put age range data series into new column
clean_data["Age Range"] = pd.cut(clean_data["Age"], age_bin, labels=age_bin_labels)
clean_data

# Get count of each age range
age_range_counts = clean_data["Age Range"].value_counts()
age_range_counts

# Create new dataframe of age range counts
age_range_counts_df = pd.DataFrame(age_range_counts)
age_range_counts_df.columns = ["Total Count"]
age_range_counts_df.sort_index()

# Create new dataframe of percentage of gender of total players
percentage_age = age_range_counts / total_number_players
percentage_amount_age = pd.DataFrame(percentage_age)
percentage_amount_age.columns = ["Percentage of Players"]
percentage_amount_age

# Concatenate both dataframes together
merged_data_age = pd.concat([age_range_counts_df, percentage_amount_age], axis=1, join='inner')

# Format the Percentage of Players column to be 2 decimal places and to show a percent sign
merged_data_age["Percentage of Players"] = merged_data_age["Percentage of Players"].map("{:,.2%}".format)

# Print the summary table
merged_data_age.sort_index()

C:\Users\emily\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percentage of Players
< 10            17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Create bins for ages
age_bin = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Create labels for bins
age_bin_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Put age range data series into new column
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bin, labels=age_bin_labels)

# Confirm the age range data series is correct
purchase_data_df

# Group the age range data for determining purchase count
age_purchase_count = purchase_data_df.groupby("Age Range")

# Determine the number of purchase IDs
age_purchase_count_df = age_purchase_count[["Purchase ID"]].count()

# Put results into a dataframe
age_purchase_count_df = pd.DataFrame(age_purchase_count_df)

# Rename the purchase count column
age_purchase_count_df.columns = ['Purchase Count']

# Confirm the dataframe is showing data as expected
age_purchase_count_df

# Group the age range data for determining average purchase price
age_avg_purchase_price = purchase_data_df.groupby("Age Range")

# Determine the average price
age_avg_purchase_price_df = age_avg_purchase_price[["Price"]].mean()

# Put results into dataframe
age_avg_purchase_price_df = pd.DataFrame(age_avg_purchase_price_df)

# Rename the avg price column
age_avg_purchase_price_df.columns = ['Average Purchase Price']

# Confirm the dataframe is showing data as expected
age_avg_purchase_price_df

# Group the age range data for determining the total purchase value
age_total_purchase = purchase_data_df.groupby("Age Range")

# Determine the total purchase value
age_total_purchase_df = age_total_purchase[['Price']].sum()

# Put results into dataframe
age_total_purchase_df = pd.DataFrame(age_total_purchase_df)

# Rename the total purchase column
age_total_purchase_df.columns = ['Total Purchase Value']

# Confirm the dataframe is showing data as expected
age_total_purchase_df

# Merge the purchase count and average purchase price dataframes based on the Age Range index
merged_purchase_count_avg_count = pd.merge(age_purchase_count_df, age_avg_purchase_price_df, left_index=True, right_index=True)

# Merge the purchase data dataframe with the total purchase dataframe based on the Age Range index
merged_purchase_total_purchase = pd.merge(merged_purchase_count_avg_count, age_total_purchase_df, left_index=True, right_index=True)

# Confirm data looks as expected
merged_purchase_total_purchase

# Calculate the average total purchase by taking the total purchase value column and dividing it by the total count
avg_total_purchase = merged_purchase_total_purchase['Total Purchase Value'] / merged_data_age['Total Count']

# Put the average total purchase into a DataFrame
avg_total_purchase_df = pd.DataFrame(avg_total_purchase)

# Name the new column
avg_total_purchase_df.columns = ['Avg Total Purchase per Person']

# Confirm data looks as expected
avg_total_purchase_df

# Merge the final dataframe with the new dataframe
final_purchase_analysis_merge = pd.merge(merged_purchase_total_purchase, avg_total_purchase_df, left_index=True, right_index=True)

# Format columns
final_purchase_analysis_merge["Average Purchase Price"] = final_purchase_analysis_merge["Average Purchase Price"].map("${:.2f}".format)
final_purchase_analysis_merge["Total Purchase Value"] = final_purchase_analysis_merge["Total Purchase Value"].map("${:,.2f}".format)
final_purchase_analysis_merge["Avg Total Purchase per Person"] = final_purchase_analysis_merge["Avg Total Purchase per Person"].map("${:.2f}".format)

# # Print summary table
final_purchase_analysis_merge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
< 10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
# Review the first 5 rows of the data (because we can!)
purchase_data_df.head()

# Find the number of purchases per SN
sn_purchase_counts = purchase_data_df["SN"].value_counts()

# Put information into dataframe
sn_purchase_counts_df = pd.DataFrame(sn_purchase_counts)

# Rename the column
sn_purchase_counts_df.columns = ["Purchase Count"]

# Group the SN data for determining purchase count
sn_group = purchase_data_df.groupby("SN")
sn_total_purchase = sn_group[["Price"]].sum()

# Put results into a dataframe
sn_total_purchase_df = pd.DataFrame(sn_total_purchase)

# Rename the purchase count column
sn_total_purchase_df.columns = ['Total Purchase Value']

# Confirm the dataframe is showing data as expected
sn_total_purchase_df

sn_initial_merge = pd.merge(sn_purchase_counts_df, sn_total_purchase_df, left_index=True, right_index=True)

sn_initial_merge.sort_values(by='Total Purchase Value', ascending=False)

sn_initial_merge.head(5)

# Calculate the average purchase price by taking the total purchase value column and dividing it by the purchase count
sn_avg_total_purchase = sn_initial_merge['Total Purchase Value'] / sn_initial_merge['Purchase Count']

# Put the average total purchase into a DataFrame
sn_avg_total_purchase_df = pd.DataFrame(sn_avg_total_purchase)

# Name the new column
sn_avg_total_purchase_df.columns = ['Average Purchase Price']

# Confirm data looks as expected
sn_avg_total_purchase_df

# Merge the final dataframe with the new dataframe
final_top_spenders_merge = pd.merge(sn_initial_merge, sn_avg_total_purchase_df, left_index=True, right_index=True)

# Resort the columns
final_top_spenders_merge = final_top_spenders_merge[['Purchase Count','Average Purchase Price','Total Purchase Value']]

# Format columns
final_top_spenders_merge["Average Purchase Price"] = final_top_spenders_merge["Average Purchase Price"].map("${:.2f}".format)
final_top_spenders_merge["Total Purchase Value"] = final_top_spenders_merge["Total Purchase Value"].map("${:.2f}".format)

# Define the index column name
final_top_spenders_merge.index.name = 'SN'

# # Print summary table and only top 5 rows
final_top_spenders_merge.sort_values(by='Total Purchase Value', ascending=False)
final_top_spenders_merge.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Hada39                    3                  $2.86                $8.57
Yathecal82                3                  $2.07                $6.22

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Review the first 5 rows of the data (because we can!)
purchase_data_df.head()

# Create data frame with Item ID, Item Name, and Price
item_df = purchase_data_df[["Item ID", "Item Name", "Price", "Purchase ID"]]
item_df

# Group the Item ID data by Item Name
item_id_group = item_df.groupby(["Item ID", "Item Name"])
item_id_data_group = item_id_group["Purchase ID"].count()
item_id_data_group_df = pd.DataFrame(item_id_data_group)

# Rename the column
item_id_data_group_df.columns = ["Purchase Count"]
item_id_data_group_df

# Group data by Item ID to determine average price of the item
item_id_group = purchase_data_df.groupby("Item ID")
item_id_avg_price = item_id_group[["Price"]].mean()
item_id_avg_price

# Put results into dataframe
item_id_avg_price_df = pd.DataFrame(item_id_avg_price)
item_id_avg_price_df

# Rename columns
item_id_avg_price_df.columns = ["Item Price"]
item_id_avg_price_df

# Merge the dataframes
initial_item_merge_df = pd.merge(item_id_data_group_df, item_id_avg_price_df, left_index=True, right_index=True)
initial_item_merge_df

# Determine the total purchase value
item_id_total_purchase_value = initial_item_merge_df['Purchase Count'] * initial_item_merge_df['Item Price']

# Put the total into a dataframe
item_id_total_purchase_value_df = pd.DataFrame(item_id_total_purchase_value)

# Name the new column
item_id_total_purchase_value_df.columns = ["Total Purchase Value"]

# Merge the final dataframe with the previous
final_item_merged_df = pd.merge(initial_item_merge_df, item_id_total_purchase_value_df, left_index=True, right_index=True)

# Format the columns
final_item_merged_df["Item Price"] = final_item_merged_df["Item Price"].map("${:.2f}".format)
final_item_merged_df["Total Purchase Value"] = final_item_merged_df["Total Purchase Value"].map("${:.2f}".format)

# Sort the values by purchase count column
final_item_merged_df.sort_values(by='Purchase Count', ascending=False, inplace=True)
final_item_merged_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [9]:
# View above table
final_item_merged_df

# Sort Most Popular Items table by total purchase value in descending order
final_item_merged_df.sort_values(by='Total Purchase Value', ascending=False, inplace=False)
final_item_merged_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77