### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# Review the first 5 rows of the data (because we can!)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [32]:
# Display the total number of players
total_number_players = len(purchase_data_df["SN"].unique())

# Check our math
# total_number_players

# Put the total number of players into a summary table and put them in a column named 'Total Players'
summary_total_number_players = pd.DataFrame({"Total Players": [total_number_players]})

# Print the summary table 
summary_total_number_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
# Calculate for number of unique items
num_unique_items = len(purchase_data_df["Item ID"].unique())
#print(num_unique_items)

# Calculate the average purchase price
avg_purchase_price = purchase_data_df["Price"].mean()
#print(avg_purchase_price)

# Calculate the total number of purchases
total_num_purchases = len(purchase_data_df["Purchase ID"])
#print(total_num_purchases)

# Calculate the total revenue
total_revenue = purchase_data_df["Price"].sum()
#print(total_revenue)


# Create summary table of all calculations
summary_of_calculations = pd.DataFrame(
    {"Number of Unique Items": [num_unique_items],
    "Average Purchase Price": [avg_purchase_price],
    "Total Number of Purchases": [total_num_purchases],
    "Total Revenue": [total_revenue]}
)

summary_of_calculations["Average Purchase Price"] = summary_of_calculations["Average Purchase Price"].map("${:.2f}".format)
summary_of_calculations["Total Revenue"] = summary_of_calculations["Total Revenue"].map("${:.2f}".format)

# Print the summary table
summary_of_calculations

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [81]:
# Need to clean the data to remove duplicate SNs in order to get an accurate gender count
clean_data = purchase_data_df.drop_duplicates(['SN'])

# Confirm number of rows matches number of players
#clean_data


# Get the number of players per gender
gender_counts = clean_data["Gender"].value_counts()
gender_counts

# Create new dataframe of gender counts
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df.columns = ['Total Count']
gender_counts_df

# Create new dataframe of percentage of gender of total players
percentage = gender_counts / total_number_players
percentage_amount = pd.DataFrame(percentage)
percentage_amount.columns = ["Percentage of Players"]
percentage_amount

# Concatenate both dataframes
merged_data = pd.concat([gender_counts_df, percentage_amount], axis=1, join='inner')

# Format the Percentage of Players column to be 2 decimal places and to show a percent sign
merged_data["Percentage of Players"] = merged_data["Percentage of Players"].map("{:,.2%}".format)

# Print new summary table
merged_data

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
gender_df = pd.DataFrame(clean_data)
gender_df = clean_data.groupby(clean_data['Gender']).count()
gender_df

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [102]:
# Create bins for ages
age_bin = [0,10,15,20,25,30,35,40,45]

# Create labels for bins
age_bin_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Put age range data series into new column
clean_data["Age Range"] = pd.cut(clean_data["Age"], age_bin, labels=age_bin_labels)
clean_data

# Get count of each age range
age_range_counts = clean_data["Age Range"].value_counts()
age_range_counts

# Create new dataframe of age range counts
age_range_counts_df = pd.DataFrame(age_range_counts)
age_range_counts_df.columns = ["Total Count"]
age_range_counts_df.sort_index()

# Create new dataframe of percentage of gender of total players
percentage_age = age_range_counts / total_number_players
percentage_amount_age = pd.DataFrame(percentage_age)
percentage_amount_age.columns = ["Percentage of Players"]
percentage_amount_age

# Concatenate both dataframes together
merged_data_age = pd.concat([age_range_counts_df, percentage_amount_age], axis=1, join='inner')

# Format the Percentage of Players column to be 2 decimal places and to show a percent sign
merged_data_age["Percentage of Players"] = merged_data_age["Percentage of Players"].map("{:,.2%}".format)

# Print the summary table
merged_data_age.sort_index()

C:\Users\emily\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percentage of Players
< 10            24                 4.17%
10-14           41                 7.12%
15-19          150                26.04%
20-24          232                40.28%
25-29           59                10.24%
30-34           37                 6.42%
35-39           26                 4.51%
40+              7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame